body {
	background: url(../Pics_1/1amfcs-1233056-unsplash.jpg)no-repeat center center fixed;
	background-size: cover;
}

a {
	font-family: 'Staatliches', cursive;
	font-size: 25;
}

h1 {
	text-align: center;
	color: aliceblue;
	font-family: 'Baloo Thambi', cursive;
}

h2 {
	text-align: center;
	color: aliceblue;
	font-family: 'Baloo Thambi', cursive;
}

p {
	font-family: 'Staatliches', cursive;
	font-size: 15;
	text-align: center;
	color: aliceblue;
}


.navbar-brand {
	font-size: 25;
}

.navbar-inverse {
	background-color: firebrick;
	border-color: #080808;
}
